{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./apps/web/tailwind.config.js",
  "tailwindFunctions": ["cn", "clsx"]
}
